In [23]:
class Father:
  def skills(self):
    print("Gardening, Programming")
class Mother:
  def skills(self):
    print("Cooking, art")
class Child(Father,Mother):
  #Father.skills(Self)
  #Mother.skills(Self)
  #def skills(Self):
    print("Sports")

c1 = Child()

Sports

In [33]:
class NAME:
  def __init__(self,n):
    self.n = n
  def __add__(self,other):
    n = self.n + " " + other.n
    return (n)

#class FNAME(NAME):
 # def __init__(self):
  #  print("First name")
#class LNAME(NAME):
 # def __init__(self):
  #  print("Last name")

N1 = NAME("Srinivas")
N2 = NAME("Rao")
N = N1+N2
print(N)

Srinivas Rao

In [4]:
num = input("Enter valid number: ")
if(num.isnumeric()):
  print("Valid number")
else:
  print("Invalid number")

Enter valid number: 432627426
Valid number

In [46]:
def recNum(num):
  if(num == 0):
    print("add non zero number")
  else:
    print("Reciprocal of ",num," is: ",1/num)

try:
  n=int(input("Enter valid number: "))
except:
  print("Error")
recNum(n)

Enter valid number: 8
Reciprocal of  8  is:  0.125

In [45]:
try:
  age=int(input("Enter age of the person: "))
  if(age<0):
    print("Enter positive interger")
  elif(age<18):
    print("Person is not eligible to vote")
  else:
    print("Person is eligible to vote")
except:
  print("Enter positive integer to give valid age in years")

Enter age of the person: vewe
Enter positive integer to give valid age in years

In [70]:
try:
  wdAmt=int(input("Enter withdrawal amount in $: "))
  if(wdAmt<0):
    print("wrongEntryError, enter positive number")
    raise Exception()
  elif(wdAmt==0):
    print("Withdrawal amount is 0, enter value higher than 0")
    raise Exception()
  elif(wdAmt>1800):
    print("Withdrawal amount is higher than available funds")
    raise Exception()
  else:
    print("withdrawal amount: ",wdAmt," done")
except:
  print("invalid entry")

Enter withdrawal amount in $: 2000
Withdrawal amount is higher than available funds
invalid entry

In [2]:
f=open("Test.txt","w")
name_list=[]
for i in range(5):
  name=input("Enter name: ")
  name_list.append(name)
f.writelines(name_list)
f.close()

Enter name: welcome\n
Enter name: to\n
Enter name: new\n
Enter name: location\n
Enter name: now\n

In [13]:
f=open("Test.txt","r")
lines=0
words=0
chars=0

for line in f:
  lines += 1
  words += len(line.split())
  chars += len(line)

print("Number of lines: ",lines)
print("Number of words: ",words)
print("Number of characters: ",chars)
f.close()

Number of lines:  4
Number of words:  80
Number of characters:  506

In [22]:
v=open("v.txt","a")
vn=open("vn.txt","a")
with open("Test.txt","r") as f:
  for line in f:
    if(f.read()=='a' or f.read()=='e' or f.read()=='i' or f.read()=='o' or f.read()=='u'):
      v.write(line)
    else:
      vn.write(line)
    iter
v.close()
vn.close()